{{#each genres as |genre|}}


  <section data-id="{{genre.id}}">
    <h3>Genre ID: {{genre.id}}.
      Song Name: {{song.name}},
       Genre: {{genre.genre_name}},
       <button class="delete-genre" data-genre="{{genre.id}}" data-song="{{song.id}}">Delete</button>
     </h3>
  </section>
{{/each}}
