{{#each songs as |song|}}


  <section data-id="{{song.id}}">
    <h3>
      {{song.id}}.
      {{song.name}},
      {{song.artist}},
      {{song.album}}:
      {{song.rating}}
      Stars
    <button id='genre-table'>Create Genre</button>
    <button class='all-genres' data-song="{{song.id}}">Show Genres</button>
  </h3>

  </section>
{{/each}}
